{% highlight html %}

<!-- Renders a border in gray -->
<div class="bd"></div>

<!-- Renders a border on the bottom in black -->
<div class="bb bc-black"></div>

<!-- Renders a border on the right and border on the top -->
<div class="br bt"></div>

<!-- Renders a border on the right and border on the top -->
<div class="br br-md-0 br-lg"></div>

<!-- Renders a .2rem thick border on the top in green -->
<div class="bt bw-2 bc-green"></div>

<!-- Renders a border on the right and left top in green -->
<div class="bl br bc-green"></div>

<!-- Renders a border in gray in mobileand desktop but not tablet -->
<div class="b b-sm-0 b-lg"></div>

{% endhighlight %}
