$enable-important-utilities: true;

$utilities: map-get-multiple($utilities, (
  "background-color",
));

$utilities: map-merge($utilities, (
  "background-color": (
    property: background-color,
    class: bg,
    local-vars: ("bg-opacity": 1),
    values: $background-colors
  ),
  "background-blur": (
    property: backdrop-filter,
    class: bg,
    values: (
      blur: 10px
    )
  )
));


@import "bootstrap/utilities/api";
