$enable-important-utilities: false;


$utilities: map-get-multiple($utilities, (
  "border",
  "border-top",
  "border-end",
  "border-bottom",
  "border-start",
  "border-color",
  "border-width"
));

$utilities: map-merge($utilities, (
  "border-none": (
    responsive: true,
    property: border,
    class: bd,
    values: (
      none: none !important
    )
  ),
  "border": (
    responsive: false,
    property: border,
    class: bd,
    values: (
      null: var(--#{$prefix}border),
    )
  ),
  "border-top": (
    property: border-top,
    class: bd-top,
    values: (
      null: var(--#{$prefix}border),
    )
  ),
  "border-end": (
    property: border-right,
    class: bd-right,
    values: (
      null: var(--#{$prefix}border),
    )
  ),
  "border-bottom": (
    property: border-bottom,
    class: bd-bottom,
    values: (
      null: var(--#{$prefix}border),
    )
  ),
  "border-start": (
    property: border-left,
    class: bd-left,
    values: (
      null: var(--#{$prefix}border),
    )
  ),
  "border-width": (
    property: border-width,
    class: bd,
    values: $border-widths
  ),
  "border-color": (
    property: border-color,
    class: bd,
    values: $border-colors
  ),
));

@import "bootstrap/utilities/api";

