$enable-important-utilities: true;


$utilities: map-get-multiple($utilities, (
  "border",
  "border-top",
  "border-end",
  "border-bottom",
  "border-start",
  "border-color",
  "border-width"
));

$utilities: map-merge($utilities, (
  "border": (
    responsive: true,
    property: border,
    class: bd,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-x": (
    responsive: true,
    property: border-right border-left,
    class: bx,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-y": (
    responsive: true,
    property: border-top border-bottom,
    class: by,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-top": (
    responsive: true,
    property: border-top,
    class: bt,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-end": (
    responsive: true,
    property: border-right,
    class: br,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-bottom": (
    responsive: true,
    property: border-bottom,
    class: bb,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-start": (
    responsive: true,
    property: border-left,
    class: bl,
    values: (
      null: $border-width $border-style $border-color,
      0: none,
    )
  ),
  "border-color": (
    property: border-color,
    class: bc,
    values: $border-colors
  ),
  "border-width": (
    property: border-width,
    class: bw,
    values: $border-widths
  ),
));

@import "bootstrap/utilities/api";

