$enable-important-utilities: true;

$utilities: map-get-multiple($utilities, (
  "display",
  "position",
));

$utilities: map-merge($utilities, (
  "position": (
    responsive: false,
    property: position,
    class: null,
    values: (
      rel: relative,
      abs: absolute,
      fix: fixed
    )
  ),
  "display": (
    responsive: true,
    print: false,
    property: display,
    class: d,
    values: $display-utils
  ),
  // scss-docs-end utils-opacity
  // scss-docs-start utils-overflow
  "overflow": (
    property: overflow,
    class: null,
    responsive: true,
    values: (
      hidden
    )
  ),
  // "overflow-x": (
  //   property: overflow-x,
  //   class: scroll-x,
  //   responsive: true,
  //   values: (
  //     auto: auto,
  //     hide: hidden,
  //     show: scroll
  //     //visible,
  //   )
  // ),
));


@import "bootstrap/utilities/api";
