$enable-important-utilities: true;

$utilities: map-get-multiple($utilities, (
  "display",
));

$utilities: map-merge($utilities, (
  "display": (
    responsive: true,
    print: false,
    property: display,
    class: d,
    values: (
      inline: inline,
      inline-block: inline-block,
      block: block,
      grid: grid,
      flex: flex,
      inline-flex: inline-flex,
      none: none,
      table: table,
      table-row: table-row,
      table-cell: table-cell,
    )
  )
));


@import "bootstrap/utilities/api";
