$enable-important-utilities: false;

$utilities: map-get-multiple($utilities, (
  "flex",
  "flex-direction",
 // "flex-grow",
 // "flex-shrink",
  "flex-wrap",
  "gap",
  "justify-content",
  "align-items",
  "align-content",
  "align-self",
  "order",
));

$utilities: map-merge($utilities, (

  "flex": (
    responsive: true,
    property: flex,
    values: (
      fill: 1 1 auto
    )
  ),
  "flex-wrap": (
    responsive: true,
    property: flex-wrap,
    class: flex,
    values: wrap
  ),
  "flex-direction": (
    responsive: true,
    property: flex-direction,
    class: flex,
    values: $flex-direction
  ),

  /*"flex-grow": (
    responsive: true,
    property: flex-grow,
    class: flex,
    values: (
      grow-0: 0,
      grow-1: 1,
    )
  ),

  "flex-shrink": (
    responsive: true,
    property: flex-shrink,
    class: flex,
    values: (
      shrink-0: 0,
      shrink-1: 1,
    )
  ),*/

  "gap": (
    responsive: true,
    property: gap,
    class: gap,
    values: $spacers
  ),

  "justify-content": (
    responsive: true,
    property: justify-content,
    class: jc,
    values: $justify-content
  ),

  "align-items": (
    responsive: true,
    property: align-items,
    class: ai,
    values: $align-items
  ),

  "align-content": (
    responsive: true,
    property: align-content,
    class: ac,
    values: $align-content
  ),

  "align-self": (
    responsive: true,
    property: align-self,
    class: as,
    values: $align-self
  ),

  "order": (
    responsive: true,
    property: order,
    class: od,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6
    )
  )

));

@import "bootstrap/utilities/api";
