$enable-important-utilities: true;

$utilities: map-get-multiple($utilities, (
  "font-family",
  "font-size",
  "font-style",
  "font-weight",
  "color"
));

$utilities: map-merge($utilities, (

  "font-family": (
    property: font-family,
    class: ff,
    values: (
      heading: $font-family-heading-var,
      base: $font-family-base-var,
      code: $font-family-code-var
    )
  ),

  "font-style": (
    property: font-style,
    class: null,
    values: (
      normal: normal,
      italic: italic
    )
  ),

  "font-size": (
    rfs: true,
    property: font-size,
    class: fs,
    values: (
      null: $font-size-base,
      xs: $font-size-xs,
      sm: $font-size-sm,
      lg: $font-size-lg,
      xl: $font-size-xl
    )
  ),

  "color": (
    property: color,
    class: fc,
    local-vars: ("text-opacity": 1),
    values: $font-colors
  ),

  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder
    )
  )

));

@import "bootstrap/utilities/api";



