$enable-important-utilities: false;

$utilities: map-get-multiple($utilities, (
  "rounded",
  "rounded-top",
  "rounded-end",
  "rounded-bottom",
  "rounded-start",
));

$utilities: map-merge($utilities, (
  "circle": (
    property: border-radius,
    class: circle,
    values: (
      null: 100%
    )
  ),
  "rounded": (
    property: border-radius,
    class: rd,
    values: (
      0: 0,
      null: var(--#{$prefix}border-radius),
      1: var(--#{$prefix}border-radius-sm),
      2: var(--#{$prefix}border-radius-lg),
      3: var(--#{$prefix}border-radius-xl),
    )
  ),
  "rounded-top": (
    property: border-top-left-radius border-top-right-radius,
    class: rd-top,
    values: (
      null: var(--#{$prefix}border-radius)
    )
  ),
  "rounded-end": (
    property: border-top-right-radius border-bottom-right-radius,
    class: rd-right,
    values: (
      null: var(--#{$prefix}border-radius)
    )
  ),
  "rounded-bottom": (
    property: border-bottom-right-radius border-bottom-left-radius,
    class: rd-bottom,
    values: (
      null: var(--#{$prefix}border-radius)
    )
  ),
  "rounded-start": (
    property: border-bottom-left-radius border-top-left-radius,
    class: rd-left,
    values: (
      null: var(--#{$prefix}border-radius)
    )
  )
)
);

@import "bootstrap/utilities/api";

