$enable-important-utilities: true;

$utilities: map-get-multiple($utilities, (
  "text-decoration",
  "text-transform",
  "whitespace",
  "wordwrap",
  "line-height"
));

$utilities: map-merge($utilities, (
  "text-left": (
    responsive: true,
    property: text-align,
    class: tl,
    values: (null: left)
  ),
  "text-center": (
    responsive: true,
    property: text-align,
    class: tc,
    values: (null: center)
  ),
  "text-right": (
    responsive: true,
    property: text-align,
    class: tr,
    values: (null: right)
  ),
  "text-justify": (
    responsive: true,
    property: text-align,
    class: tj,
    values: (null: justify)
  ),
  "text-decoration": (
    property: text-decoration,
    class: null,
    values: (
      strike: line-through,
      underline: underline,
      undecorate: none
    )
  ),
  "text-transform": (
    property: text-transform,
    class: null,
    values: (
      lower: lowercase,
      upper: uppercase,
      upcase: capitalize,
      uncase: none
    )
  ),
  "white-space": (
    property: white-space,
    class: text,
    values: (
      wrap: normal,
      nowrap: nowrap
    )
  ),
  "word-wrap": (
    property: word-wrap word-break,
    class: text,
    rtl: false,
    values: (
      break: break-word
    )
  ),
  "line-height": (
    property: line-height,
    class: lh,
    values: (
      1: 1,
      2: $line-height-sm,
      3: $line-height-base,
      4: $line-height-lg,
      5: $line-height-xl
    )
  ),
));

@import "bootstrap/utilities/api";

