@mixin arrow($direction) {

  @if not map-has-key($tooltip-arrow-directions, $direction) {
    @error '[tooltip] The $direction parameter must be one of: `#{map-keys($tooltip-arrow-directions)}, `#{$direction}` was given.';
  }

  width: 0;
  height: 0;
  border: $tooltip-arrow-size solid transparent;
  border-#{map-get($tooltip-arrow-directions, $direction)}-color: var(--tooltip-color);
}

@mixin base-effects() {
  opacity: 0;
  pointer-events: none;
  transition: opacity .18s ease-out .18s, transform .18s ease-out .18s;
}

@mixin no-effects() {
  transition: none;
}

@mixin normalized-text() {
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--tooltip-font-size);
}


//
// Styles
// -----------------------------------------


// IE 11 button bugfix
button[aria-label] {
  &[data-tooltip] {
    overflow: visible;
  }
}

[aria-label] {
  &[data-tooltip] {
    position: relative; // alt. absolute or fixed

    // Fixing iOS Safari event issue.
    // More info at: https://goo.gl/w8JF4W
    cursor: pointer;

    &:after {
      @include base-effects();
      @include normalized-text();

      background: var(--tooltip-color);
      border-radius: 2px;
      color: var(--tooltip-text-color);
      border-radius: var(--tooltip-border-radius);
      content: attr(aria-label);
      padding: .1rem .5rem;
      position: absolute;
      white-space: nowrap;
      z-index: 10;
    }

    &:before {
      @include arrow(bottom);
      @include base-effects();

      content: "";
      position: absolute;
      z-index: 10;
    }

    &:hover,
    &[data-tooltip-visible],
    &:not([data-tooltip-nofocus]):focus {
      &:before,
      &:after {
        opacity: 1;
        pointer-events: none;
      }
    }

    &[data-tooltip-break] {
      &:after {
        white-space: pre;
      }

      &[data-tooltip-size] {
        &:after {
          white-space: pre-line;
          word-break: break-word;
        }
      }
    }

    &[data-tooltip-blunt] {
      &:before,
      &:after {
        @include no-effects();
      }
    }

    &[data-tooltip="top"],
    &[data-tooltip="bottom"] {
      &:hover, &[data-tooltip-visible] {
        &:after {
          transform: translate(-50%, 0);
        }
        &:before {
          transform: translate(-50%, 0);
        }
      }
    }

    &[data-tooltip*="-left"] {
      &:after {
        left: 0;
      }

      &:before {
        left: 5px;
      }
    }

    &[data-tooltip*="-right"] {
      &:after {
        right: 0;
      }
      &:before {
        right: 5px;
      }
    }

    &[data-tooltip*="-left"],
    &[data-tooltip*="-right"] {
      &:hover,
      &[data-tooltip-visible] {
        &:after {
          transform: translate(0, 0);
        }
        &:before {
          transform: translate(0, 0);
        }
      }
    }

    &[data-tooltip^="top"] {
      &:before,
      &:after {
        bottom: 100%;
        transform-origin: top;
        transform: translate(0, var(--tooltip-move));
      }

      &:after {
        margin-bottom: $tooltip-arrow-size + 5px;
      }
    }

    &[data-tooltip="top"] {
      &:before,
      &:after {
        left: 50%;
        transform: translate(-50%, var(--tooltip-move));
      }
    }

    &[data-tooltip^="bottom"] {
      &:before,
      &:after {
        top: 100%;
        transform: translate(0, calc(var(--tooltip-move) * -1));
      }

      &:after {
        margin-top: $tooltip-arrow-size + 5px;
      }

      &:before {
        @include arrow(top);
      }
    }

    &[data-tooltip="bottom"] {
      &:after,
      &:before {
        left: 50%;
        transform: translate(-50%, calc(var(--tooltip-move) * -1));
      }
    }

    &[data-tooltip="left"],
    &[data-tooltip="right"] {
      &:hover,
      &[data-tooltip-visible] {

        &:after {
          transform: translate(0, -50%);
        }

        &:before {
          transform: translate(0, -50%);
        }
      }
    }

    &[data-tooltip="left"] {
      &:after,
      &:before {
        right: 100%;
        top: 50%;
        transform: translate(var(--tooltip-move), -50%);
      }

      &:after { margin-right: $tooltip-arrow-size + 5px; }
      &:before { @include arrow(right); }
    }

    &[data-tooltip="right"] {
      &:after,
      &:before {
        left: 100%;
        top: 50%;
        transform: translate(calc(var(--tooltip-move) * -1), -50%);
      }

      &:after { margin-left: $tooltip-arrow-size + 5px; }
      &:before { @include arrow(left); }
    }

    &[data-tooltip-size] {
      &:after { white-space: normal; }
    }

    &[data-tooltip-size="sm"] {
      &:after { width: 80px; }
    }

    &[data-tooltip-size="md"] {
      &:after { width: 150px; }
    }

    &[data-tooltip-size="lg"] {
      &:after { width: 260px; }
    }

    &[data-tooltip-size="xl"] {
      &:after {
        width: 380px;

        @media screen and (max-width: 768px) {
          width: 90vw;
        }
      }
    }

    &[data-tooltip-size="fit"] {
      &:after { width: 100%; }
    }
  }
}
