/* -------------------------------------------- */
/* VARIABLE PREFIX                              */
/* -------------------------------------------- */

$variable-prefix: null;

/* -------------------------------------------- */
/* OPTIONS                                      */
/* -------------------------------------------- */

$enable-caret:                false;
$enable-rounded:              false;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-cssgrid:              false;
$enable-button-pointers:      false;
$enable-validation-icons:     false;
$enable-negative-margins:     false;
$enable-deprecation-messages: false;
$enable-important-utilities:  false;

/* -------------------------------------------- */
/* EDITABLE OPTIONS                             */
/* -------------------------------------------- */

$enable-rfs:                  true !default;

/* -------------------------------------------- */
/* TRANSPARENT                                  */
/* -------------------------------------------- */

$transparent:   transparent !default;

/* -------------------------------------------- */
/* PALETTE                                      */
/* -------------------------------------------- */

$white:         #ffffff !default;
$black:         #000000 !default;
$blue:          #0d6efd !default;
$indigo:        #6610f2 !default;
$purple:        #6f42c1 !default;
$pink:          #d63384 !default;
$red:           #dc3545 !default;
$orange:        #fd7e14 !default;
$yellow:        #ffc107 !default;
$green:         #198754 !default;
$teal:          #20c997 !default;
$cyan:          #0dcaf0 !default;

/* -------------------------------------------- */
/* GRAYS                                        */
/* -------------------------------------------- */

$gray-100: #f8f8f8 !default;
$gray-200: #e0e4e7 !default;
$gray-300: #ccd3da !default;
$gray-400: #b6c2ce !default;
$gray-500: #98a5b3 !default;
$gray-600: #747d85 !default;
$gray-700: #575f68 !default;
$gray-800: #373d42 !default;
$gray-900: #202427 !default;

/* -------------------------------------------- */
/* BACKGROUND COLORS                            */
/* -------------------------------------------- */

$background-colors: (

  "transparent": transparent,
  "white": $white,
  "black": $black,
  "ivory": $gray-100,
  "gray": $gray-400

) !default;

/* -------------------------------------------- */
/* FONT COLORS                                  */
/* -------------------------------------------- */

$font-colors: (

  "black": $black,
  "white": $white,
  "gray": $gray-500,
  "red": $red,
  "orange": $orange

) !default;


/* -------------------------------------------- */
/* BUTTON COLORS                                */
/* -------------------------------------------- */

$button-colors: (

  "black": $black,
  "white": $white,
  "gray": $gray-500,
  "red": $red,
  "green": $green

) !default;

/* -------------------------------------------- */
/* SPACING                                      */
/* -------------------------------------------- */

$spacer: 1rem !default;

/* -------------------------------------------- */
/* GRID                                         */
/* -------------------------------------------- */

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

/* -------------------------------------------- */
/* GRID > BREAKPOINTS                           */
/* -------------------------------------------- */

$grid-breakpoints: (

  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

) !default;

/* -------------------------------------------- */
/* GRID > MAX-WIDTHS                            */
/* -------------------------------------------- */

$container-max-widths: (

  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px

) !default;


/* -------------------------------------------- */
/* FONT FAMILY                                  */
/* -------------------------------------------- */

$font-family-base:            Helvetica, sans-serif;
$font-family-base-var:        var(--#{$variable-prefix}font-base), !default;
$font-family-heading:         Arial, sans-serif !default;
$font-family-heading-var:     var(--#{$variable-prefix}font-heading), !default;
$font-family-code:            SFMono-Regular, Menlo, Monaco, "Courier New", Courier, monospace;
$font-family-code-var:        var(--#{$variable-prefix}font-code) !default;

/* -------------------------------------------- */
/* BODY                                         */
/* -------------------------------------------- */

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

/* -------------------------------------------- */
/* FONT SIZES                                   */
/* -------------------------------------------- */

$font-size-base:              1rem !default;
$font-size-xs:                $font-size-base * .875 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-xl:                $font-size-base * 1.50 !default;

/* -------------------------------------------- */
/* FONT HEADINGS                                */
/* -------------------------------------------- */

$headings-font-family:        $font-family-heading;
$headings-font-style:         null !default;
$headings-font-weight:        500  !default;
$headings-line-height:        1.2  !default;

/* -------------------------------------------- */
/* FONT WEIGHT                                  */
/* -------------------------------------------- */

$font-weight-normal:          400 !default;
$font-weight-lighter:         100 !default;
$font-weight-light:           300 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

/* -------------------------------------------- */
/* LINE HEIGHT                                  */
/* -------------------------------------------- */

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;
$line-height-xl:              2.4 !default;

/* -------------------------------------------- */
/* LINKS                                        */
/* -------------------------------------------- */

$link-color:                  $black !default;
$link-decoration:             underline !default;
$link-shade-percentage:       20% !default;
$link-hover-decoration:       null !default;

/* -------------------------------------------- */
/* BORDERS                                      */
/* -------------------------------------------- */

$border-color:                $gray-300 !default;
$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;

/* -------------------------------------------- */
/* SHADOWS                                      */
/* -------------------------------------------- */

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

/* -------------------------------------------- */
/* HR LINE                                      */
/* -------------------------------------------- */

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-height:                   $border-width !default;
$hr-opacity:                  .25 !default;

/* -------------------------------------------- */
/* BUTTONS                                      */
/* -------------------------------------------- */

$btn-font-family:             $font-family-heading !default;
$btn-font-size-sm:            $font-size-sm !default;
$btn-font-size:               $font-size-base !default;
$btn-font-size-lg:            $font-size-lg !default;
$btn-line-height:             $line-height-base !default;
$btn-focus-color:             $transparent !default;
$btn-focus-width:             .25rem !default;
$btn-focus-opacity:           .25 !default;
$btn-disabled-opacity:        .65 !default;
$btn-padding-y-sm:            .25rem !default;
$btn-padding-y:               .375rem !default;
$btn-padding-y-lg:            .5rem !default;
$btn-padding-x-sm:            .5rem !default;
$btn-padding-x:               .75rem !default;
$btn-padding-x-lg:             1rem !default;
$btn-white-space:              nowrap !default; // Set to `nowrap` to prevent text wrapping

/* -------------------------------------------- */
/* ASPECT RATIOS                                */
/* -------------------------------------------- */

$aspect-ratios: (

  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)

) !default;

/* -------------------------------------------- */
/* SPINNER                                      */
/* -------------------------------------------- */

$spinner-width:               2rem !default;
$spinner-width-sm:            1rem !default;
$spinner-height:              $spinner-width !default;
$spinner-height-sm:           $spinner-width-sm !default;
$spinner-vertical-align:      -.125em !default;
$spinner-border-width:        .25em !default;
$spinner-border-width-sm:     .2em !default;
$spinner-border-color:        $gray-300;
$spinner-animation-speed:     .75s !default;


/* -------------------------------------------- */
/* FORM TEXT                                    */
/* -------------------------------------------- */

$form-text-margin-top:                  .25rem !default;
$form-text-font-size:                   $font-size-sm !default;
$form-text-font-style:                  null !default;
$form-text-font-weight:                 null !default;
$form-text-color:                       $gray-700 !default;

/* -------------------------------------------- */
/* FORMS LABEL                                  */
/* -------------------------------------------- */

$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  null !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                null !default;
$form-label-color:                      null !default;

/* -------------------------------------------- */
/* FORM INPUT TEXT                              */
/* -------------------------------------------- */

$input-padding-y:                       .375rem !default;
$input-padding-y-sm:                    .25rem !default;
$input-padding-y-lg:                    .5rem !default;
$input-padding-x:                       .75rem !default;
$input-padding-x-sm:                    .5rem !default;
$input-padding-x-lg:                    1rem !default;
$input-font-family:                     $headings-font-family !default;
$input-font-size:                       $font-size-base !default;
$input-font-size-sm:                    $font-size-sm !default;
$input-font-size-lg:                    $font-size-lg !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $line-height-base !default;

$input-bg:                              $body-bg !default;
$input-disabled-bg:                     $gray-200 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $body-color !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      $box-shadow-inset !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-lg:                $border-radius-lg !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

/* -------------------------------------------- */
/* FORM COLOR PICKER                            */
/* -------------------------------------------- */

$form-color-width:                        3rem !default;

/* -------------------------------------------- */
/* FORM RADIO AND CHECKBOX                      */
/* -------------------------------------------- */

$form-check-input-width:                  1em !default;
$form-check-min-height:                   $font-size-base * $line-height-base !default;
$form-check-padding-start:                $form-check-input-width + .5em !default;
$form-check-margin-bottom:                .125rem !default;
$form-check-label-color:                  null !default;
$form-check-label-cursor:                 null !default;
$form-check-transition:                   null !default;

$form-check-input-active-filter:          brightness(90%) !default;

$form-check-input-bg:                     $input-bg !default;
$form-check-input-border:                 1px solid rgba($black, .25) !default;
$form-check-input-border-radius:          .25em !default;
$form-check-radio-border-radius:          50% !default;
$form-check-input-focus-border:           $input-focus-border-color !default;
$form-check-input-focus-box-shadow:       $input-btn-focus-box-shadow !default;

$form-check-input-checked-color:          $component-active-color !default;
$form-check-input-checked-bg-color:       $component-active-bg !default;
$form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;

$form-check-input-indeterminate-color:          $white !default;
$form-check-input-indeterminate-bg-color:       $black !default;
$form-check-input-indeterminate-border-color:   $black !default;

$form-check-input-disabled-opacity:        .5 !default;
$form-check-label-disabled-opacity:        $form-check-input-disabled-opacity !default;
$form-check-btn-check-disabled-opacity:    $btn-disabled-opacity !default;
$form-check-inline-margin-end:              1rem !default;

/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */

$form-switch-color:               rgba(0, 0, 0, .25) !default;
$form-switch-width:               2em !default;
$form-switch-padding-start:       $form-switch-width + .5em !default;
$form-switch-border-radius:       $form-switch-width !default;
$form-switch-transition:          background-position .15s ease-in-out !default;
$form-switch-focus-color:         $input-focus-border-color !default;
$form-switch-checked-color:       $component-active-color !default;
$form-switch-checked-bg-position: right center !default;

/* -------------------------------------------- */
/* FORM INPUT GROUP                             */
/* -------------------------------------------- */

$input-group-addon-padding-y:           $input-padding-y !default;
$input-group-addon-padding-x:           $input-padding-x !default;
$input-group-addon-font-weight:         $input-font-weight !default;
$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

/* -------------------------------------------- */
/* FORM SELECT                                  */
/* -------------------------------------------- */

$form-select-padding-y:               $input-padding-y !default;
$form-select-padding-y-sm:            $input-padding-y-sm !default;
$form-select-padding-y-lg:            $input-padding-y-lg !default;
$form-select-padding-x:               $input-padding-x !default;
$form-select-padding-x-sm:            $input-padding-x-sm !default;
$form-select-padding-x-lg:            $input-padding-x-lg !default;
$form-select-font-family:             $input-font-family !default;
$form-select-font-size:               $input-font-size !default;
$form-select-font-size-sm:            $input-font-size-sm !default;
$form-select-font-size-lg:            $input-font-size-lg !default;
$form-select-indicator-padding:       $form-select-padding-x * 3 !default;
$form-select-font-weight:             $input-font-weight !default;
$form-select-line-height:             $input-line-height !default;
$form-select-color:                   $input-color !default;
$form-select-bg:                      $input-bg !default;
$form-select-disabled-color:          null !default;
$form-select-disabled-bg:             $gray-200 !default;
$form-select-disabled-border-color:   $input-disabled-border-color !default;
$form-select-bg-position:             right $form-select-padding-x center !default;
$form-select-bg-size:                 16px 12px !default; // In pixels because image dimensions
$form-select-indicator-color:         $gray-800 !default;
$form-select-feedback-icon-position:  center right $form-select-indicator-padding !default;
$form-select-border-width:            $input-border-width !default;
$form-select-border-color:            $input-border-color !default;
$form-select-border-radius:           $border-radius !default;
$form-select-box-shadow:              $box-shadow-inset !default;
$form-select-focus-border-color:      $input-focus-border-color !default;
$form-select-focus-width:             $input-focus-width !default;
$form-select-transition:              $input-transition !default;

/* -------------------------------------------- */
/* FORM INPUT RANGE                             */
/* -------------------------------------------- */

$form-range-track-width:                   100% !default;
$form-range-track-height:                  .5rem !default;
$form-range-track-cursor:                  pointer !default;
$form-range-track-bg:                      $gray-300 !default;
$form-range-track-border-radius:           1rem !default;
$form-range-track-box-shadow:              $box-shadow-inset !default;
$form-range-thumb-width:                   1rem !default;
$form-range-thumb-height:                  $form-range-thumb-width !default;
$form-range-thumb-bg:                      $component-active-bg !default;
$form-range-thumb-border:                  0 !default;
$form-range-thumb-border-radius:           1rem !default;
$form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
$form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
$form-range-thumb-focus-box-shadow-width:  $input-focus-width !default;
$form-range-thumb-active-bg:               tint-color($component-active-bg, 70%) !default;
$form-range-thumb-disabled-bg:             $gray-500 !default;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

/* -------------------------------------------- */
/* FORM INPUT FILE                              */
/* -------------------------------------------- */

$form-file-button-color:          $input-color !default;
$form-file-button-bg:             $input-group-addon-bg !default;
$form-file-button-hover-bg:       shade-color($form-file-button-bg, 5%) !default;

/* -------------------------------------------- */
/* FORM FLOATING                                */
/* -------------------------------------------- */

$form-floating-height:            add(3.5rem, $input-height-border) !default;
$form-floating-line-height:       1.25 !default;
$form-floating-padding-x:         $input-padding-x !default;
$form-floating-padding-y:         1rem !default;
$form-floating-input-padding-t:   1.625rem !default;
$form-floating-input-padding-b:   .625rem !default;
$form-floating-label-opacity:     .65 !default;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem) !default;
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out !default;

/* -------------------------------------------- */
/* FORM VALIDATION                              */
/* -------------------------------------------- */

$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $form-text-font-size !default;
$form-feedback-font-style:          $form-text-font-style !default;
$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;
$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
) !default;
