{% highlight html %}

<!-- Default Link -->
<a href="#">Some Link</a>

<!-- Link cover requires parent element to be "relative" -->
<div class="rel">
  <a href="#" class="link">Some Link</a>
</div>

<!-- Link List -->
<div class="link-list">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
</div>


{% endhighlight %}
