.fm-lined {

  .fm-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 2px;

    &:focus {
      color: $input-focus-color;
      background-color: $input-focus-bg;
      border-bottom-color: $input-focus-border-color;
      outline: 0;

      @if $enable-shadows {
        @include box-shadow(
          $input-box-shadow,
          $input-btn-focus-box-shadow-lined
        );


      } @else {
        //
        // Avoid using mixin so we can pass custom focus shadow properly
        //
        box-shadow: $input-btn-focus-box-shadow-lined;
      }
    }
  }
}
