/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */

//
// Switch
//

.fm-switch {
  // padding-left: $form-switch-padding-start;


  &.fm-sm {
    height: 0.5rem;
    min-height: 1rem;
    min-width: 2rem;
    width: 2rem;
  }


  .fm-check-input {
    display: inline-flex;
    width: $form-switch-width;
    height: calc($form-switch-width / 2);
    margin-top: 0;
  //  margin-left: $form-switch-padding-start * -1;
    background-image: escape-svg(icon-square($form-switch-color, calc($form-switch-width / 2)));
    background-position: left center;
    @include border-radius($form-switch-border-radius);
    @include transition($form-switch-transition);

    &.is-invalid {
      border-color: $red;
    }

    &:focus {
      background-image: escape-svg(icon-square($form-switch-color, calc($form-switch-width / 2)));
    }

    &:checked {
      background-position: $form-switch-checked-bg-position;
      background-image: escape-svg(icon-square($form-switch-checked-color, calc($form-switch-width / 2)));
    }
  }

  &.reverse {
    padding-right: $form-switch-padding-start;
    padding-left: 0;

    .fm-check-input {
      margin-right: $form-switch-padding-start * -1;
      margin-left: 0;
    }
  }
}
