<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Renders the text with an underline -->
<span class="underline"></span>

<!-- Renders the text with an line through the middle -->
<span class="strike"></span>

<!-- Removes the underline -->
<a class="undecorate"></a>

{% endhighlight %}
