
<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  SCSS EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight scss %}

// sass/_text.scss

$utilities: map-merge($utilities, (
  "text-decoration": (
    property: text-decoration,
    class: null,
    values: (
      strike: line-through,
      underline: underline,
      undecorate: none
    )
  )
)

{% endhighlight %}

