<div class="row mb-5">
  <div class="col-12">
    {{ item.describe }}
  </div>
</div>

<div class="row">
  <div class="col-auto pl-4 pr-5">
    <h6 class="mb-3 fw-bold">
      Default
    </h6>
    <pre class="tc mt-2"><code>.modal</code></pre>
  </div>
  <div class="col-2">
    <button type="btn btn-black" id="btn-modal-1">Press here</button>
  </div>
</div>