<div class="row mb-5">

  <div class="col-6 ai-center ">
    {% for item in item.classes.position %}
      <div class="row ai-center mb-2">
        <div class="col-6">
          <pre class="m-1 tc"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span
            aria-label="{{ item.title }}"
            class="p-2"
            {{ item.class }}>
            Hover Me
          </span>
        </div>
      </div>
    {% endfor %}
  </div>


</div>
