<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Tooltip appears at the top of the element -->
<button aria-label="Tooltip Top" data-tooltip="top">
  Hover Me
</button>

<!-- Tooltip appears at the bottom of the element -->
<button aria-label="Tooltip Bottom" data-tooltip="bottom">
  Hover Me
</button>

<!-- Tooltip appears at the left of the element -->
<button aria-label="Tooltip left" data-tooltip="left">
  Hover Me
</button>

<!-- Tooltip appears at the right of the element -->
<button aria-label="Tooltip right" data-tooltip="right">
  Hover Me
</button>

{% endhighlight %}
