{% highlight html %}

<!-- Renders all text in base font-->
<p class="ff-base"></p>

<!-- Renders all text in heading font -->
<p class="ff-heading"></p>

<!-- Renders all text in code font -->
<p class="ff-code"></p>

{% endhighlight %}
