{% highlight html %}

<!-- heading h1 -->
<h1></h1>

<!-- heading h2 -->
<h2></h2>

<!-- makes the h1 heading a h4 size -->
<h1 class="h4"></h1>


<!-- makes the h6 heading a h1 size -->
<h6 class="h1"></h6>

{% endhighlight %}
