{% highlight html %}

<!-- Renders all text in black-->
<span class="fc-black"></span>

<!-- Renders all text in red -->
<span class="fc-red"></span>

<!-- Renders all text in gray -->
<span class="fc-gray"></span>

{% endhighlight %}
