<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  SCSS EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* FONT COLORS                                  */
/* -------------------------------------------- */

$font-colors: (
  "black": $black,
  "white": $white,
  "green": $green,
  "gray": $gray-500,
  "red": $red,
  "orange": $orange
) !default;


{% endhighlight %}
