
<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight html %}

<!-- Simple Accordion -->
<div class="accordion">

  <!-- PANEL 1 -->

  <button type="button" class="btn">Opens Fold #</button>
  <div class="accordion-fold">
    This is Fold #1
  </div>

  <!-- PANEL 2 -->

  <a href=".." type="button" class="btn">Opens Fold #2</a>
  <div class="accordion-fold">
    This is Fold #1
  </div>

  <!-- PANEL 3 -->

  <button type="button" class="btn">Opens Fold #3</button>
  <div class="relapse-fold">
    This is Fold #1
  </div>

</div>
{% endhighlight %}
