<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Makes the text bold, ie: 600 -->
<p class="fw-bold"></p>

<!-- makes the text lightest, ie: 100 -->
<i class="fw-lighter"></i>

{% endhighlight %}
