
<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight html %}

<!-- Default Checkmark -->
<div class="fm-check">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

<!-- Render a Large checkmark -->
<div class="fm-check lg">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

<!-- Default a large checkmark with label at front -->
<div class="fm-check fm-lg reverse">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

{% endhighlight %}
