<div class="row mb-4">

  <div class="col-6">
    <h6 class="mb-3 fw-bold">
      Simple Relapse
    </h6>
    <div class="row ai-center mb-2">
      <div class="col-12">

        <!-- Simple relapse -->
        <div class="accordion"
          data-relapse-multiple="false"
          data-relapse-persist="true">

          <!-- PANEL 1 -->

          <button class="accordion-btn" type="button">
            Opens Fold # 1
          </button>
          <div class="accordion-fold">
            <div class="p-4">
              This is Fold #1
            </div>
          </div>

          <!-- PANEL 2 -->
          <button class="accordion-btn" type="button">
            Opens Fold # 2
          </button>
          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 2
            </div>
          </div>

          <!-- PANEL 3 -->

          <button class="accordion-btn" type="button">
            Opens Fold # 3
          </button>
          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 3
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-6">
    <h6 class="mb-3 fw-bold">
      Relapse Collapse
    </h6>
    <div class="row ai-center mb-2">
      <div class="col-12">

        <!-- Simple relapse -->
        <div class="accordion"
          data-relapse-multiple="false"
          data-relapse-persist="false">

          <!-- PANEL 1 -->

          <button class="accordion-btn" type="button">
            Opens Fold # 1
          </button>
          <div class="accordion-fold">
            <div class="p-4">
              This is Fold # 1
            </div>
          </div>

          <!-- PANEL 2 -->
          <button class="accordion-btn" type="button">
            Opens Fold # 2
          </button>

          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 2
            </div>
          </div>

          <!-- PANEL 3 -->

          <button class="accordion-btn" type="button">
            Opens Fold # 3
          </button>
          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 3
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-6 mt-3">
    <h6 class="mb-3 fw-bold">
      Relapse Initial
    </h6>
    <div class="row ai-center mb-2">
      <div class="col-12">

        <!-- Simple relapse -->
        <div id="initial"
          class="accordion"
          data-relapse-multiple="false"
          data-relapse-persist="false">

          <!-- PANEL 1 -->

          <button class="accordion-btn initial" type="button">
            Opens Fold # 1
          </button>
          <div class="accordion-fold">
            <div class="p-4">
              This is Fold # 1
            </div>
          </div>

          <!-- PANEL 2 -->
          <button class="accordion-btn" type="button">
            Opens Fold # 2
          </button>

          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 2
            </div>
          </div>

          <!-- PANEL 3 -->

          <button class="accordion-btn" type="button">
            Opens Fold # 3
          </button>
          <div class="accordion-fold p-5">
            <div class="p-4">
              This is Fold # 3
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>