<div class="row mb-4">

  <div class="col-6">
    <h6 class="mb-3 fw-bold">
      Simple Relapse
    </h6>
    <div class="row ai-center mb-2">
      <div class="col-12">

        <!-- Simple relapse -->
        <div
          class="accordion"
          data-controller="accordion"
          data-accordion-multiple-value="false"
          data-accordion-persist-value="true">

          <!-- PANEL 1 -->

          <details>
            <summary class="accordion-btn">
              Opens Fold # 1
            </summary>
            <div class="accordion-fold">
              <div class="p-4">
                This is Fold #1
              </div>
            </div>
          </details>

          <!-- PANEL 2 -->
          <details>
            <summary class="accordion-btn">
              Opens Fold # 2
            </summary>
            <div class="accordion-fold">
              <div class="p-4">
                This is Fold #2
              </div>
            </div>
          </details>
          <!-- PANEL 3 -->

          <details>
            <summary class="accordion-btn">
              Opens Fold # 3
            </summary>
            <div class="accordion-fold">
              <div class="p-4">
                This is Fold #3
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

  </div>
</div>