{% highlight html %}

<!-- Simple Accordion -->
<div
  class="accordion"
  data-controller="accordion"
  data-accordion-multiple-value="false"
  data-accordion-persist-value="true">

  <!-- PANEL 1 -->

  <details>
    <summary class="accordion-btn">
      Opens Fold # 1
    </summary>
    <div>
      <div class="p-4">
        This is Fold #1
      </div>
    </div>
  </details>

  <!-- PANEL 2 -->

  <details>
    <summary class="accordion-btn">
      Opens Fold # 1
    </summary>
    <div>
      <div class="p-4">
        This is Fold #1
      </div>
    </div>
  </details>

</div>
{% endhighlight %}