{% highlight html %}

<!-- Simple Accordion -->
<div class="accordion">

  <!-- PANEL 1 -->

  <button type="button" class="accordion-btn">Opens Fold #</button>
  <div class="accordion-fold">
    This is Fold #1
  </div>

  <!-- PANEL 2 -->

  <a href=".." type="button" class="accordion-btn">Opens Fold #2</a>
  <div class="accordion-fold">
    This is Fold #1
  </div>

  <!-- PANEL 3 -->

  <button type="button" class="accordion-btn">Opens Fold #3</button>
  <div class="accordion-fold">
    This is Fold #1
  </div>

</div>
{% endhighlight %}
