{% highlight html %}

<!-- Small Box Shadow -->
<div class="bs-1"></div>

<!-- Medium (normal) Box Shadow -->
<div class="bs-2"></div>

<!-- Large Box Shadow -->
<div class="bs-3"></div>

{% endhighlight %}
