<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight html %}

<!-- Renders a transparent background -->
<div class="bg-transparent"></div>

<!-- Renders a black background -->
<div class="bg-black"></div>


{% endhighlight %}
