<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  SCSS VARIABLES
  <code class="lower">{{ item.title | slug }}</code>
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* BACKGROUND COLORS                            */
/* -------------------------------------------- */

$background-colors: (
  "transparent": transparent,
  "white": $white,
  "black": $black,
  "ivory": $gray-100,
  "gray": $gray-400
) !default;

{% endhighlight %}
