{% highlight html %}

<!-- Default Checkmark -->
<div class="fm-toggle">
  <input class="fm-checkbox" type="checkmark" id="xx" name="xx">
  <label class="fm-label" for="xx">Label</label>
</div>

<!-- Default checkmark with label at front -->
<div class="fm-toggle reverse">
  <input class="fm-checkbox" type="checkmark" id="xx" name="xx">
  <label class="fm-label" for="xx">Label</label>
</div>

{% endhighlight %}