{% highlight html %}

<!-- Default Checkmark -->
<div class="fm-check">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

<!-- Render a Large checkmark -->
<div class="fm-check lg">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

<!-- Default a large checkmark with label at front -->
<div class="fm-check fm-lg reverse">
  <input class="fm-check-input" type="checkmark" id="xx" name="xx">
  <label class="fm-check-label" for="xx">Label</label>
</div>

{% endhighlight %}
