<!-- FONT STYLE -->
<h6>
  <strong>BACKGROUND COLORS</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.bg-transparent</code></pre>
  </div>
  <div class="col-2 p-2 bg-transparent text-center">
    <span class="p-3">Transparent</span>
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.bg-white</code></pre>
  </div>
  <div class="col-2 p-2 my-0 bg-white text-center">
    <span class="p-3">White</span>
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.bg-ivory</code></pre>
  </div>
  <div class="col-2 p-2 my-0 bg-ivory text-center">
    <span class="p-3">Ivory</span>
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.bg-gray</code></pre>
  </div>
  <div class="col-2 p-2 my-0 bg-gray text-center">
    <span class="p-3">Gray</span>
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-3">
    <pre class="m-1"><code>.bg-black</code></pre>
  </div>
  <div class="col-2 p-2 my-0 bg-black text-center">
    <span class=" fc-white">Black</span>
  </div>
</div>
