<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  BACKGROUND COLORS
  <code>background-color</code>
</h3>

<hr>

<h5 class="my-4 fc-gray fw-bold">
  CLASSES
</h5>

{% for item in classes.backgrounds %}
  <div class="row ai-center mb-2">
    <div class="col-3">
      <pre class="m-1"><code>{{ item.class }}</code></pre>
    </div>
    <div class="col-2 p-2  {{ item.class | remove_first: '.' }} text-center">
      {%- if item.class == '.bg-black' -%}
        <span class="p-3 fc-white">{{ item.title }}</span>
      {%- else -%}
        <span class="p-3">{{ item.title }}</span>
      {%- endif -%}

    </div>
  </div>
{% endfor %}

<h5 class="my-4 fc-gray fw-bold">
  SCSS VARIABLES
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* BACKGROUND COLORS                            */
/* -------------------------------------------- */

$background-colors: (
  "transparent": transparent,
  "white": $white,
  "black": $black,
  "ivory": $gray-100,
  "gray": $gray-400
) !default;

{% endhighlight %}
