<!-- BORDERS -->
<h6>
  <strong>BORDERS</strong>
</h6>
<hr>
<div class="row ai-center mb-5">
  <div class="col">
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1">
      <code>.bd</code>
    </pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black p-2">Border</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1">
      <code>.bd-left</code>
    </pre>
      </div>
      <div class="col my-0">
        <span class="bd-left bd-black p-2">Border left</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1">
      <code>.bd-right</code>
    </pre>
      </div>
      <div class="col my-0">
        <span class="bd-right bd-black p-2">Border right</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1">
      <code>.bd-top</code>
    </pre>
      </div>
      <div class="col my-0">
        <span class="bd-top bd-black p-2">Border top</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1">
      <code>.bd-bottom</code>
    </pre>
      </div>
      <div class="col my-0">
        <span class="bd-bottom bd-black p-2">Border bottom</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row ai-center jc-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-1</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black bd-1 p-2">1px</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-2</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black bd-2 p-2">2px</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-3</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black bd-3 p-2">3px</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-4</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black bd-4 p-2">4px</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-5</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black bd-5 p-2">5px</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row ai-center mb-2">
      <div class="col-4">
        <pre class="m-1"><code>.bd</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd p-2">Default Gray</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-black</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd bd-black p-2">Border Black</span>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>.bd-white</code></pre>
      </div>
      <div class="col my-0">
        <span class="bd-white p-2">Border white</span>
      </div>
    </div>

  </div>

</div>
