<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  BORDERS
  <code>border</code>
</h3>

<hr>

<h5 class="my-4 fw-bold fc-gray">
  CSS CLASSES
</h5>

<div class="row ai-center jc-between mb-5">

  <div class="col-5">
    {% for item in classes.borders.border %}
      <div class="row ai-center mb-2">
        <div class="col-6">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6 my-0">
          <span class="{{ item.class | remove_first: '.' }} bd-black p-2">{{ item.title }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-3">

    {% for item in classes.borders.sizes %}
      <div class="row ai-center jc-center mb-2">
        <div class="col-auto">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd bd-black {{ item.class | remove_first: '.' }} p-2">{{ item.title }}</span>
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="col">

    {% for item in classes.borders.colors %}

      <div class="row ai-center mb-2">
        <div class="col">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd {{ item.class | remove_first: '.' }} p-2">{{ item.title }}</span>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

<h5 class="my-3 fw-bold fc-gray">
  HTML EXAMPLES
</h5>

{% highlight html %}

<!-- Renders a border in gray -->
<div class="bd"></div>

<!-- Renders a border on the bottom in black -->
<div class="bd-bottom bd-black"></div>

<!-- Renders a 2px thick border on the top in green -->
<div class="bd-2 bd-top bd-green"></div>

<!-- Renders a 4px border on the right and left top in white -->
<div class="bd-4 bd-left bd-right bd-white"></div>

{% endhighlight %}

<h5 class="my-3 fw-bold fc-gray">
  SCSS VARIABLES
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* BORDERS WIDTHS                               */
/* -------------------------------------------- */

// BASE WIDTH VARIABLE
//
$border-width:                1px !default;

// UTILITY GENERATOR
//
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

/* -------------------------------------------- */
/* BORDERS COLORS                               */
/* -------------------------------------------- */

// BASE COLOR VARIABLE
//
$border-color:                $gray-300 !default;

// UTILITY GENERATOR
//
$button-colors: (
  "black": $black,
  "white": $white,
  "gray": $gray-500,
) !default;

{% endhighlight %}
