<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  BUTTONS
  <code>button, a</code>
</h3>

<hr>

<h5 class="my-4 fw-bold fc-gray">
  CSS CLASSES
</h5>

<div class="row ai-start jc-between mb-5">

  <div class="col">
    {% for item in classes.buttons.colors %}
      <div class="row ai-center mb-2">
        <div class="col-6">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6 my-0">
          {%- if item.class == '.btn' -%}
            <button type="button" class="{{ item.class | remove_first: '.' }}">{{ item.title }}</button>
          {%- else -%}
            <button type="button" class="btn {{ item.class | remove_first: '.' }}">{{ item.title }}</button>
          {%- endif -%}

        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-4">

    {% for item in classes.buttons.outline  %}
      <div class="row ai-center jc-center mb-2">
        <div class="col-8">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <button type="button" class="btn {{ item.class | remove_first: '.' }}">{{ item.title }}</button>
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="col">

    {% for item in classes.buttons.sizes %}

      <div class="row ai-center mb-2">
        <div class="col">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <button type="button" class="btn btn-black {{ item.class | remove_first: '.' }}">{{ item.title }}</button>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

<h5 class="my-3 fw-bold fc-gray">
  HTML EXAMPLES
</h5>

Buttons classes can also be applied to
<code>href</code>
elements. {% highlight html %}

<!-- Renders a button without style, ie: blank button -->
<button class="btn">Click</button>

<!-- Renders a black button -->
<button class="btn btn-black">Click</button>

<!-- Renders an outlined button -->
<button class="btn btn-outline-black">Click</button>

<!-- Renders an xl sized button with radius -->
<button class="btn btn-xl rad">Click</button>

<!-- Renders a button to a <a href="*"> element -->
<a class="btn btn-outline-black btn-sm">Click</a>

{% endhighlight %}

<h5 class="my-3 fw-bold fc-gray">
  SCSS VARIABLES
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* BUTTONS                                      */
/* -------------------------------------------- */

$btn-font-family:             $font-family-heading !default;
$btn-font-size-sm:            $font-size-sm !default;
$btn-font-size:               $font-size-base !default;
$btn-font-size-lg:            $font-size-lg !default;
$btn-line-height:             $line-height-base !default;
$btn-focus-color:             $transparent !default;
$btn-focus-width:             .25rem !default;
$btn-focus-opacity:           .25 !default;
$btn-disabled-opacity:        .65 !default;
$btn-padding-y-sm:            .25rem !default;
$btn-padding-y:               .375rem !default;
$btn-padding-y-lg:            .5rem !default;
$btn-padding-x-sm:            .5rem !default;
$btn-padding-x:               .75rem !default;
$btn-padding-x-lg:             1rem !default;
$btn-white-space:              nowrap !default; // Set to `nowrap` to prevent text wrapping


{% endhighlight %}
