<!-- BORDERS -->
<h6>
  <strong>BUTTONS</strong>
</h6>
<hr>
<div class="row mb-5">
  <div class="col-4">
    <div class="row mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn">Button</button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-gray</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-gray">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-black</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-black">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-red</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-red">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-green</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-green">Button</button>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="row ai-center mb-2">
      <div class="col-8">
        <pre class="m-1"><code>.btn-outline-gray</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-outline-gray">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-8">
        <pre class="m-1"><code>.btn-outline-black</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-outline-black">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-8">
        <pre class="m-1"><code>.btn-outline-red</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-outline-red">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-8">
        <pre class="m-1"><code>.btn-outline-green</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-outline-green">Button</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-sm</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-black btn-sm">Button</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-sm</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-black">Default</button>
      </div>
    </div>
    <div class="row ai-center mb-2">
      <div class="col-6">
        <pre class="m-1"><code>.btn-lg</code></pre>
      </div>
      <div class="col my-0">
        <button type="button" class="btn btn-black btn-lg">Button</button>
      </div>
    </div>

  </div>

</div>
