<!-- FONT STYLE -->
<h6>
  <strong>FONT STYLE</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-auto">
    <pre class="m-1">
      <code>.fst-normal</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fst-normal">Normal font style</span>
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-auto">
    <pre class="m-1">
      <code>.fst-italic</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fst-italic">Italic font style</span>
  </div>
</div>
