<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  FONT WEIGHT
  <code>font-weight</code>
</h3>

<hr>

<h5 class="my-3 fw-bold fc-gray">
  CSS CLASSES
</h5>

{% for item in classes.font_style %}
  <div class="row ai-center mb-2">
    <div class="col-2">
      <pre class="m-1"><code>{{ item.class }}</code></pre>
    </div>
    <div class="col my-0">
      <span class="{{ item.class | remove_first: '.' }}">{{ item.title }}</span>
    </div>
  </div>
{% endfor %}

<h5 class="my-3 fw-bold fc-gray">
  HTML EXAMPLES
</h5>

{% highlight html %}

<!-- Makes the text bold, ie: 600 -->
<p class="fw-bold"></p>

<!-- makes the text lightest, ie: 100 -->
<i class="fw-lighter"></i>

{% endhighlight %}
