<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  FONT FAMILY
  <code>font-family</code>
</h3>
<hr>

{% for item in classes.font_family %}
  <div class="row ai-center mb-2">
    <div class="col-2">
      <pre class="m-1"><code>{{ item.class }}</code></pre>
    </div>
    <div class="col-5 my-0 {{ item.class  | remove_first: '.' }}">
      <span>{{ item.example }}</span>
    </div>
    <div class="col my-0 {{ item.class  | remove_first: '.' }} text-uppercase">
      <span>{{ item.example }}</span>
    </div>
  </div>
{% endfor %}

<h5 class="my-3 fw-bold fc-gray">
  HTML EXAMPLES
</h5>

{% highlight html %}

<!-- Renders all text in base font-->
<p class="ff-base"></p>

<!-- Renders all text in heading font -->
<p class="ff-heading"></p>

<!-- Renders all text in code font -->
<p class="ff-code"></p>

{% endhighlight %}

<h5 class="my-3 fw-bold fc-gray">
  SCSS VARIABLES
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* FONT FAMILY                                  */
/* -------------------------------------------- */

$font-family-base:            Helvetica, sans-serif;
$font-family-heading:         Arial, sans-serif !default;
$font-family-code:            SFMono-Regular, Menlo, Monaco, "Courier New", Courier, monospace;


// HEADINGS FONT FAMILY REFERENCES HEADING
//
$headings-font-family:        $font-family-heading;

// BUTTON FONT FAMILY REFERENCES HEADING
//
$btn-font-family:             $font-family-heading !default;

// INPUT FONT FAMILY REFERENCES HEADING
//
$input-font-family:           $headings-font-family !default;
{% endhighlight %}
