<h6>
  <strong>FONT COLOR</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1"><code>.fc-white</code></pre>
  </div>
  <div class="col-1 my-0 fc-white bg-gray p-1 text-center">
    White
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1"><code>.fc-gray</code></pre>
  </div>
  <div class="col-3 my-0 fc-gray">
    Gray
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1"><code>.fc-red</code></pre>
  </div>
  <div class="col-3 my-0 fc-red">
    Red
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1"><code>.fc-orange</code></pre>
  </div>
  <div class="col-3 my-0 fc-orange">
    Orange
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-2">
    <pre class="m-1"><code>.fc-black</code></pre>
  </div>
  <div class="col-3 my-0 fc-black">
    Black
  </div>
</div>
