<!-- FONT WEIGHT -->
<h6>
  <strong>FONT WEIGHTS</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.fw-lighter</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fw-lighter">Lighter</span>
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.fw-light</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fw-light">Light</span>
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.fw-normal</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fw-normal">Normal</span>
  </div>
</div>
<div class="row jc-lg-start ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.fw-bold</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fw-bold">Bold</span>
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-2">
    <pre class="m-1">
      <code>.fw-bolder</code>
    </pre>
  </div>
  <div class="col my-0">
    <span class="fw-bolder">Bolder</span>
  </div>
</div>
