<!-- FONT SIZES -->
<h6>
  <strong>FONT SIZES</strong>
</h6>
<hr>
<div class="row ai-center mb-2">

  <div class="col-auto">
    <pre class="m-1">
        <code>.fs-xl</code>
      </pre>
  </div>
  <div class="col my-0">

    <span class="fs-xl">X Large</span>

  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-auto">
    <pre class="m-1">
    <code>.fs-lg</code>
  </pre>
  </div>
  <div class="col my-0">

    <span class="fs-lg">Large</span>

  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-auto">
    <pre class="m-1">
    <code>.fs-md</code>
  </pre>
  </div>
  <div class="col my-0">

    <span class="fs-md">Medium (Base)</span>

  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-auto">
    <pre class="m-1">
    <code>.fs-sm</code>
  </pre>
  </div>
  <div class="col my-0">
    <span class="fs-sm">Small</span>
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-auto">
    <pre class="m-1">
    <code>.fs-xs</code>
  </pre>
  </div>
  <div class="col my-0">

    <span class="fs-xs">X Small</span>

  </div>
</div>
