<!-- FONT STYLE -->
<h6>
  <strong>FORM INPUTS</strong>
</h6>
<hr>
<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input</code></pre>
    <div class="text-center">
      <code>&lt;input type="text"&gt;</code>
    </div>
  </div>
  <div class="col-4 m-1">
    <input type="text" class="form-input" id="exampleFormControlInput1" placeholder="Some Text">
  </div>
</div>
<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input</code></pre>
    <div class="text-center">
      <code>&lt;type="file"&gt;</code>
    </div>
  </div>
  <div class="col-4 m-1">
    <input class="form-input" type="file" id="formFile">
  </div>
</div>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-color</code></pre>
    <div class="text-center">
      <code>&lt;type="color"&gt;</code>
    </div>
  </div>
  <div class="col-1 m-2">
    <input type="color" class="form-input form-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
  </div>
</div>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-switch</code></pre>
    <div class="text-center">
      <code>&lt;type="color"&gt;</code>
    </div>
  </div>
  <div class="col-1 m-2">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input-sm</code></pre>
    <div class="text-center">
      <code>&lt;input type="email"&gt;</code>
    </div>
  </div>
  <div class="col-4 pt-2">
    <input type="email" class="form-input form-input-sm" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
</div>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input-sm</code></pre>
    <div class="text-center">
      <code>&lt;input type="email"&gt;</code>
    </div>
  </div>
  <div class="col-4 pt-2">
    <div class="input-group mb-3">
      <input type="text" class="form-input" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      <button type="button" class="btn btn-black">Button</button>
    </div>
  </div>
</div>

