<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  FORMS
  <code>form</code>
</h3>

<hr>

<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  FORM INPUT
</h5>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input</code></pre>
  </div>
  <div class="col-4 m-1">
    <input type="text" class="form-input" id="some-id" placeholder="Some Text">
  </div>
</div>

{% highlight html %}

<input
  type="text"
  class="form-input"
  id="some-id"
  placeholder="Some Text">

{% endhighlight %}


<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  FORM FILE UPLOAD
</h5>

<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input</code></pre>
  </div>
  <div class="col-4 m-1">
    <input class="form-input" type="file" id="formFile">
  </div>
</div>

{% highlight html %}

<input class="form-input" type="file"  id="some-id">

{% endhighlight %}


<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  COLOR PICKER
</h5>


<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-color</code></pre>
  </div>
  <div class="col-1 m-2">
    <input
      type="color"
      class="form-input form-color"
      id="exampleColorInput"
      value="#563d7c"
      title="Choose your color">
  </div>
</div>

{% highlight html %}

<!-- Notice how form-input is used together with form-color -->
<input
  type="color"
  class="form-input form-color"
  id="exampleColorInput"
  value="#563d7c"
  title="Choose your color">

{% endhighlight %}



<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  SWITCH TOGGLE
</h5>


<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-switch</code></pre>
  </div>
  <div class="col-1 m-2">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault">
    </div>
  </div>
</div>

{% highlight html %}

<!-- The switch toggle requires parent element -->
<div class="form-check form-switch">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="flexSwitchCheckDefault">
</div>

{% endhighlight %}


<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  INPUT SMALL
</h5>


<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input-sm</code></pre>
  </div>
  <div class="col-4 pt-2">
    <input
      type="email"
      class="form-input form-input-sm"
      id="exampleFormControlInput1"
      placeholder="name@example.com">
  </div>
</div>

{% highlight html %}

<!-- Using type email and rendering a small input -->
<input
  type="email"
  class="form-input form-input-sm"
  id="exampleFormControlInput1"
  placeholder="name@example.com">

{% endhighlight %}


<h5 class="my-3 fw-bold fc-gray d-flex ai-center jc-between">
  INPUT GROUP
</h5>


<div class="row mb-2">
  <div class="col-3">
    <pre class="m-1"><code>.form-input-sm</code></pre>
  </div>
  <div class="col-4 pt-2">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-input"
        placeholder=""
        aria-label="Example text with button addon"
        aria-describedby="button-addon1">
      <button type="button" class="btn btn-black">Button</button>
    </div>
  </div>
</div>

{% highlight html %}

<!-- Using type email and rendering a small input -->
<div class="input-group mb-3">
  <input
    type="text"
    class="form-input"
    placeholder=""
    aria-label="Example text with button addon"
    aria-describedby="button-addon1">
  <button type="button" class="btn btn-black">Button</button>
</div>

{% endhighlight %}

<h5 class="my-3 fw-bold fc-gray">
  SCSS VARIABLES
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* FORM TEXT                                    */
/* -------------------------------------------- */

$form-text-margin-top:                  .25rem !default;
$form-text-font-size:                   $font-size-sm !default;
$form-text-font-style:                  null !default;
$form-text-font-weight:                 null !default;
$form-text-color:                       $gray-700 !default;

/* -------------------------------------------- */
/* FORMS LABEL                                  */
/* -------------------------------------------- */

$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  null !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                null !default;
$form-label-color:                      null !default;

/* -------------------------------------------- */
/* FORM INPUT TEXT                              */
/* -------------------------------------------- */

$input-padding-y:                       .375rem !default;
$input-padding-y-sm:                    .25rem !default;
$input-padding-y-lg:                    .5rem !default;
$input-padding-x:                       .75rem !default;
$input-padding-x-sm:                    .5rem !default;
$input-padding-x-lg:                    1rem !default;
$input-font-family:                     $headings-font-family !default;
$input-font-size:                       $font-size-base !default;
$input-font-size-sm:                    $font-size-sm !default;
$input-font-size-lg:                    $font-size-lg !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $line-height-base !default;

$input-bg:                              $body-bg !default;
$input-disabled-bg:                     $gray-200 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $body-color !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      $box-shadow-inset !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-lg:                $border-radius-lg !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

/* -------------------------------------------- */
/* FORM COLOR PICKER                            */
/* -------------------------------------------- */

$form-color-width:                        3rem !default;

/* -------------------------------------------- */
/* FORM RADIO AND CHECKBOX                      */
/* -------------------------------------------- */

$form-check-input-width:                  1em !default;
$form-check-min-height:                   $font-size-base * $line-height-base !default;
$form-check-padding-start:                $form-check-input-width + .5em !default;
$form-check-margin-bottom:                .125rem !default;
$form-check-label-color:                  null !default;
$form-check-label-cursor:                 null !default;
$form-check-transition:                   null !default;

$form-check-input-active-filter:          brightness(90%) !default;

$form-check-input-bg:                     $input-bg !default;
$form-check-input-border:                 1px solid rgba($black, .25) !default;
$form-check-input-border-radius:          .25em !default;
$form-check-radio-border-radius:          50% !default;
$form-check-input-focus-border:           $input-focus-border-color !default;
$form-check-input-focus-box-shadow:       $input-btn-focus-box-shadow !default;

$form-check-input-checked-color:          $component-active-color !default;
$form-check-input-checked-bg-color:       $component-active-bg !default;
$form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;

$form-check-input-indeterminate-color:          $white !default;
$form-check-input-indeterminate-bg-color:       $black !default;
$form-check-input-indeterminate-border-color:   $black !default;

$form-check-input-disabled-opacity:        .5 !default;
$form-check-label-disabled-opacity:        $form-check-input-disabled-opacity !default;
$form-check-btn-check-disabled-opacity:    $btn-disabled-opacity !default;
$form-check-inline-margin-end:              1rem !default;

/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */

$form-switch-color:               rgba(0, 0, 0, .25) !default;
$form-switch-width:               2em !default;
$form-switch-padding-start:       $form-switch-width + .5em !default;
$form-switch-border-radius:       $form-switch-width !default;
$form-switch-transition:          background-position .15s ease-in-out !default;
$form-switch-focus-color:         $input-focus-border-color !default;
$form-switch-checked-color:       $component-active-color !default;
$form-switch-checked-bg-position: right center !default;

/* -------------------------------------------- */
/* FORM INPUT GROUP                             */
/* -------------------------------------------- */

$input-group-addon-padding-y:           $input-padding-y !default;
$input-group-addon-padding-x:           $input-padding-x !default;
$input-group-addon-font-weight:         $input-font-weight !default;
$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

/* -------------------------------------------- */
/* FORM SELECT                                  */
/* -------------------------------------------- */

$form-select-padding-y:               $input-padding-y !default;
$form-select-padding-y-sm:            $input-padding-y-sm !default;
$form-select-padding-y-lg:            $input-padding-y-lg !default;
$form-select-padding-x:               $input-padding-x !default;
$form-select-padding-x-sm:            $input-padding-x-sm !default;
$form-select-padding-x-lg:            $input-padding-x-lg !default;
$form-select-font-family:             $input-font-family !default;
$form-select-font-size:               $input-font-size !default;
$form-select-font-size-sm:            $input-font-size-sm !default;
$form-select-font-size-lg:            $input-font-size-lg !default;
$form-select-indicator-padding:       $form-select-padding-x * 3 !default;
$form-select-font-weight:             $input-font-weight !default;
$form-select-line-height:             $input-line-height !default;
$form-select-color:                   $input-color !default;
$form-select-bg:                      $input-bg !default;
$form-select-disabled-color:          null !default;
$form-select-disabled-bg:             $gray-200 !default;
$form-select-disabled-border-color:   $input-disabled-border-color !default;
$form-select-bg-position:             right $form-select-padding-x center !default;
$form-select-bg-size:                 16px 12px !default; // In pixels because image dimensions
$form-select-indicator-color:         $gray-800 !default;
$form-select-feedback-icon-position:  center right $form-select-indicator-padding !default;
$form-select-border-width:            $input-border-width !default;
$form-select-border-color:            $input-border-color !default;
$form-select-border-radius:           $border-radius !default;
$form-select-box-shadow:              $box-shadow-inset !default;
$form-select-focus-border-color:      $input-focus-border-color !default;
$form-select-focus-width:             $input-focus-width !default;
$form-select-transition:              $input-transition !default;

/* -------------------------------------------- */
/* FORM INPUT RANGE                             */
/* -------------------------------------------- */

$form-range-track-width:                   100% !default;
$form-range-track-height:                  .5rem !default;
$form-range-track-cursor:                  pointer !default;
$form-range-track-bg:                      $gray-300 !default;
$form-range-track-border-radius:           1rem !default;
$form-range-track-box-shadow:              $box-shadow-inset !default;
$form-range-thumb-width:                   1rem !default;
$form-range-thumb-height:                  $form-range-thumb-width !default;
$form-range-thumb-bg:                      $component-active-bg !default;
$form-range-thumb-border:                  0 !default;
$form-range-thumb-border-radius:           1rem !default;
$form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
$form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
$form-range-thumb-focus-box-shadow-width:  $input-focus-width !default;
$form-range-thumb-active-bg:               tint-color($component-active-bg, 70%) !default;
$form-range-thumb-disabled-bg:             $gray-500 !default;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

/* -------------------------------------------- */
/* FORM INPUT FILE                              */
/* -------------------------------------------- */

$form-file-button-color:          $input-color !default;
$form-file-button-bg:             $input-group-addon-bg !default;
$form-file-button-hover-bg:       shade-color($form-file-button-bg, 5%) !default;

/* -------------------------------------------- */
/* FORM FLOATING                                */
/* -------------------------------------------- */

$form-floating-height:            add(3.5rem, $input-height-border) !default;
$form-floating-line-height:       1.25 !default;
$form-floating-padding-x:         $input-padding-x !default;
$form-floating-padding-y:         1rem !default;
$form-floating-input-padding-t:   1.625rem !default;
$form-floating-input-padding-b:   .625rem !default;
$form-floating-label-opacity:     .65 !default;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem) !default;
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out !default;

/* -------------------------------------------- */
/* FORM VALIDATION                              */
/* -------------------------------------------- */

$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $form-text-font-size !default;
$form-feedback-font-style:          $form-text-font-style !default;
$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;
$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
) !default;

{% endhighlight %}
