<!-- FONT SIZES -->
<h3 class="mt-5 fw-bold d-flex ai-center jc-between">
  TEXT TRANSFORM
  <code>text-transform</code>
</h3>

<hr>

<h5 class="my-3 fw-bold fc-gray">
  CSS CLASSES
</h5>

{% for item in classes.text_transform %}
  <div class="row ai-center mb-2">
    <div class="col-2">
      <pre class="m-1"><code>{{ item.class }}</code></pre>
    </div>
    <div class="col my-0">
      <span class="{{ item.class | remove_first: '.' }}">{{ item.title }}</span>
    </div>
  </div>
{% endfor %}

<h5 class="my-3 fw-bold fc-gray">
  HTML EXAMPLES
</h5>

{% highlight html %}

<!-- Renders the text in UPPERCASE -->
<span class="upper"></span>

<!-- Renders the text in lowercase -->
<span class="lower"></span>

<!-- Makes the first letter Upcase -->
<span class="upcase"></span>

<!-- Removes any casing style -->
<span class="uncase"></span>

{% endhighlight %}
