<!-- TEXT ALIGN -->
<h6>
  <strong>TEXT DECORTATION</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-upper</code>
    </pre>
  </div>
  <div class="col-5 my-0 fs-xs text-uppercase">
    uppercase
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-lower</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-lowercase">
    LOWERCASE
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-strike</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-strike">
    Strikethrough
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-lined</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-lined">
    Underlined
  </div>
</div>
