<!-- TEXT ALIGN -->
<h6>
  <strong>TEXT ALIGN</strong>
</h6>
<hr>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-justify</code>
    </pre>
  </div>
  <div class="col-5 my-0 fs-xs text-justify">
    This sentence will justify when newlines appear!
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-left</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-left">
    Left
  </div>
</div>
<div class="row ai-center mb-2">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-center</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-center">
    Center
  </div>
</div>
<div class="row ai-center mb-5">
  <div class="col-2">
    <pre class="m-1">
      <code>.text-right</code>
    </pre>
  </div>
  <div class="col-5 my-0 text-right">
    Right
  </div>
</div>
