
<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Makes the text italic -->
<p class="italic"></p>

<!-- Removes the italic style -->
<i class="normal"></i>

{% endhighlight %}
