 {% highlight html %}

<!-- Default List -->
<ul>
  <li>Item</li>
  <li>Item</li>
</ul>

<!-- Pipe List -->
<ul class="list-pipe">
  <li>Item</li>
  <li>Item</li>
</ul>

<!-- Dash List -->
<ul class="list-dash">
  <li>Item</li>
  <li>Item</li>
</ul>


<!-- List Inline -->
<ul class="list-inline">
  <li>Item</li>
  <li>Item</li>
</ul>

<!-- Lined List -->
<ul class="list-lined">
  <li>Item</li>
  <li>Item</li>

  <!-- Annotate with aria-label for right badge -->
  <li aria-label="badge">Item</li>

</ul>


{% endhighlight %}
