<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>


Buttons classes can also be applied to
<code>href</code>
elements. {% highlight html %}

<!-- Renders a button without style, ie: blank button -->
<button class="btn">Click</button>

<!-- Renders a black button -->
<button class="btn btn-black">Click</button>

<!-- Renders an outlined button -->
<button class="btn btn-outline-black">Click</button>

<!-- Renders an xl sized button with radius -->
<button class="btn btn-xl rad">Click</button>

<!-- Renders a button to a <a href="*"> element -->
<a class="btn btn-outline-black btn-sm">Click</a>

{% endhighlight %}
