<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Renders all text is xs -->
<p class="fs-xs"></p>

<!-- Renders all text in xl -->
<p class="fs-xl"></p>

{% endhighlight %}
