<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  SCSS EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight scss %}

/* -------------------------------------------- */
/* FONT SIZES                                   */
/* -------------------------------------------- */

$font-size-base:              1rem !default;
$font-size-xs:                $font-size-base * .875 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-xl:                $font-size-base * 1.50 !default;

{% endhighlight %}
