{% highlight html %}

<!-- Renders a floating label -->
<div class="fm-switch">
  <input class="fm-check-input" id="xx" name="{{ name }}" type="checkbox">
  <label class="fm-check-label" for="xx">Label</label>
</div>

{% endhighlight %}
