<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- Renders the text to left in mobile and center in tablet -->
<p class="tl tc-md"></p>

<!-- Renders the text to right in mobile, left in tablet and center in desktop -->
<p class="tr tl-md tc-lg"></p>

<!-- Render the text in the center always -->
<p class="tc"></p>

<!-- Removes text in a justified manner -->
<p class="tj"></p>

{% endhighlight %}
