<div class="row mb-4" style="height: 600px;">

  <div class="col-6">
    <h6 class="mb-3 fw-bold">
      Simple Relapse
    </h6>

    <div class="row ai-center mb-2">
      <div class="col-5">

        <!-- Simple relapse -->
        <div class="collapse" data-controller="collapse">

          <!-- PANEL 1 -->

          <button class="collapse-btn" type="button">
            List One
          </button>
          <ul class="collapse-list">
            <li>
              Link 1
            </li>
            <li>
              Link 2
            </li>
            <li
              data-relapse="submenu"
              data-relapse-persist="false"
              data-relapse-multiple="true">
              <button class="collapse-btn" type="button">
                Link 3
              </button>
              <ul class="collapse-list">
                <li>
                  Submenu 1
                </li>
                <li>
                  Submenu 2
                </li>
                <li>
                  Submenu 3
                </li>
                <li>
                  Submenu 4
                </li>
                <li>
                  Submenu 5
                </li>
              </ul>
            </li>
            <li>
              Link 4
            </li>
            <li>
              Link 5
            </li>
          </ul>

          <!-- PANEL 2 -->
          <button class="collapse-btn" type="button">
            List Two
          </button>
          <ul class="collapse-list">
            <li>
              Link 1
            </li>
            <li>
              Link 2
            </li>
            <li>
              Link 3
            </li>
            <li>
              Link 4
            </li>
            <li>
              Link 5
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>