<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  HTML EXAMPLES
  <code class="lower">
    {{ slug }}
  </code>
</h5>

{% highlight html %}

<!-- heading h1 -->
<h1></h1>

<!-- makes the h1 heading a h4 size-->
<h1 class="h4"></h1>

{% endhighlight %}
