<h5 class="fw-bold fc-gray d-flex ai-center jc-between py-3">
  SCSS EXAMPLES
  <code class="lower">
    {{ item.title | slug }}
  </code>
</h5>

{% highlight scss %}

$headings-letter-spacing:          $letter-spacing-heading;
$headings-font-family:             $font-family-heading;
$headings-margin-bottom:           $spacer * .5;
$headings-font-style:              null;
$headings-font-weight:             500;
$headings-line-height:             1.2;
$headings-color:                   null;
$headings-uppercase:               true;

$h1-font-size:                     $font-size-base * 2.5;
$h2-font-size:                     $font-size-base * 2;
$h3-font-size:                     $font-size-base * 1.75;
$h4-font-size:                     $font-size-base * 1.5;
$h5-font-size:                     $font-size-base * 1.25;
$h6-font-size:                     $font-size-base;

{% endhighlight %}
